#rec{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}
.rec{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 40px;
}
.rec input{
    all: unset;
    border: 1px solid black;
    padding: .3rem;
    margin-right: 5px;
}
.rec input:checked{
    background-color: #00264D;
}

.rec input::after{
    content: '';
    position: absolute;
    display: none;
    left: 3px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid #ffffffde;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rec input:checked::after{
    display: block;
}
/* .Register{
    color: #00264D;
}

.Register form{
    text-align: start;
    font-size: 1.2rem;
    width: 100%;
}

.Register form label span{
    font-size: 0.8rem;
    color: #fff;
}

.Register form input{
    display: block;
    border: none;
    border-bottom: 2px solid #00264D;
    background-color: transparent;
    padding: 1rem;
    font-family: inherit;
}
.Register form input[type='checkbox']{
    display: inline;
}

.Register form input::placeholder{
    font-size: 1.1rem;
    color: #00264D;
}

.Register form label{
    font-weight: 500;
}

.Register button{
    width: 100%;
    padding: 0.9rem;
    background-color: #00264D;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: inherit;
} */