:root{
  --primary-color: #A1CCD2;
  --second-color: #317580;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(180deg, var(--primary-color)0%, var(--second-color)100%);
}

form{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: start;
  font-size: 1.2rem;
  position: relative;
}

.Register, .Login{
  color: #00264D;
}

form label span{
  font-size: 0.8rem;
  color: #fff;
}

form input{
  border: none;
  border-bottom: 2px solid #00264D;
  background-color: transparent;
  padding: 1rem 0;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  width: 100%;
  text-indent: 30px;
}

form input[type='checkbox']{
  display: inline;
}

form input::placeholder{
  font-size: 1.1rem;
  color: #00264D;
  position: absolute;
}

form label{
  font-weight: 500;
  width: 80%;
}

form a{
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

form a:hover, .Login span:hover{
  transition: .3s;
  color: #00264D;
  cursor: pointer;
}

button{
  padding: 0.9rem 4rem;
  background-color: #00264D;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: inherit;
  margin-top: 0.5rem;
  width: 80%;
  cursor: pointer;
}

.info{
  position: absolute;
  bottom: -10vh;
  width: 110%;
  text-align: center;
}